{% extends 'base.html' %}
{% block title %}Liste des fournisseurs{% endblock %}
{% block content %}
    <h1>Liste des fournisseurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in fournisseurs %}
                <tr>
                    <td><a href="{% url 'supplier-detail' supplier.id %}">{{supplier.name}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

