{% extends "base.html" %}

{% block content %}
    <!-- Barre de recherche -->
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
    value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
    
    <h1>Liste des produits</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Disponibilité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in prdcts %}
                <tr>
                    <td>{{product.name}}</td>
                    {% if product.status == 0 %}
                        <td>Indisponible</td>
                    {% else %}
                        <td>Disponible</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'detail_produit' product.id %}" class="btn btn-primary">Détail</a>
                        <a href="{% url 'product-update' product.id %}" class="btn btn-warning">Modifier</a>
                        <a href="{% url 'product-delete' product.id %}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'product-add' %}">Créer un nouveau produit</a>
    
{% endblock %}