{% extends "base.html" %}

{% block content %}
    <h1>Liste des produits</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
                <th>Disponibilité</th>
            </tr>
        </thead>
        <tbody>
            {% for product in prdcts %}
                <tr>
                    <td><a href="{% url 'detail_produit' product.id %}">{{product.name}}</a></td>
                    <td>{{product.price_ht}}</td>
                    <td>{{product.price_ttc}}</td>
                    {% if product.status == 0 %}
                        <td>Indisponible</td>
                    {% else %}
                        <td>Disponible</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}