{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Liste des produits{% endblock %}
{% block content %}
    <!-- Barre de recherche -->
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form method="GET" action="">
        <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
<table class="table">
    <thead>
        <th>Code</th>
        <th>Produit</th>
        <th>Attributs associés</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for item in productitems %}
        <tr>
            <td>{{ item.code }}</td>
            <td>{{ item.product.name }}</td>
            <td>
                {% for attribute in item.attributes.all %}
                <p>{{ attribute.product_attribute.name }} : {{ attribute.value }}</p>
                {% empty %}
                <p>Aucune valeur</p>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'item-detail' item.id %}" class="btn btn-primary mt-2">Détail</a>
                {% if user|is_admin %}
                <a href="{% url 'item-update' item.id %}" class="btn btn-warning mt-2">Modifier</a>
                <a href="{% url 'item-delete' item.id %}" class="btn btn-danger mt-2">Supprimer</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% if user|is_admin %}
            <a href="{% url 'item-create'  %}" class="btn btn-success">Créer un nouveau item</a>
    {% endif %}
{% endblock %}